<div class='container'>
  <div class='row'>
    <div class='col-md-9'>
      <%= render "layouts/errors", obj: @drink %>
      <h2 class="bg-info text-light d-inline px-7"><%= @drink.user.name %>の投稿詳細</h2>
  		<h2 class='image'><%= image_tag @drink.get_image(180, 180) %></h2>
  		<table class='table table-striped table-light'>
  		  <tr>
  		    <th scope="row">商品名</th>
  		    <td>
              <%= @drink.name %>
          </td>
        </tr>
        <tr>
          <th scope="row">会員名</th>
          <td>
            <%= link_to public_user_path(@drink.user) do %>
            <%= image_tag @drink.user.get_image(50, 50) %><br>
            <%= @drink.user.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">内容</th>
          <td><%= @drink.body %></td>
        </tr>
        <tr>
          <th scope="row">タグ</th>
          <td>
            <% @drink.tags.each do |tag| %>
              <li style="list-style: none;"><%= tag.name %><%#= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %></li>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">評価</th>
          <td>
            <div id="star-rate<%= @drink.id%>"></div>
            <script>
              init();
                function init(){
                if (0 < $("#star-rate<%= @drink.id %> img").length) return false;
                $('#star-rate<%= @drink.id%>').raty({
                  size      : 10,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  half      : false,
                  readOnly: true,
                  score: <%= @drink.rate %>,
                  });
                }
            </script>
          </td>
        </tr>
        <tr>
          <th scope="row">コメント一覧</th>
          <td class="drink-comments-index">
            <%= render "public/drink_comments/index", drink: @drink %>
          </td>
        </tr>
        <tr>
          <th scope="row">コメント投稿</th>
          <td>
            <%= render "public/drink_comments/form", drink: @drink, drink_comment: @drink_comment %>
          </td>
        </tr>
        <tr>
          <% if @drink.user == current_user %>
            <td><%= link_to '投稿を編集', edit_public_drink_path(@drink), class: "btn btn-lg btn-success edit_public_drink_#{@drink.id}" %></td>
            <td><%= link_to '投稿を削除', public_drink_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-lg btn-danger destroy_public_drink_#{@drink.id}" %></td>
          <% end %>
        </tr>
        </table>
      </div>
      <div class='col-md-3'>
          <%= render 'search', q: @q%>
          <%= render 'public/users/info', user: @drink.user %>
      </div>
    </div>
  </div>