<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <h4 class="bg-success text-white d-inline px-4">会員情報編集</h4>
    </div>
  </div>
</div>
  <div class= "container">
    <div class="row">
    <%= render 'layouts/errors', obj: @user %>
    <div class="col-12">
        <%= form_with model:@user, url: user_path(current_user), local:true do |f| %>
      <table class="table table-light my-5">
        <tbody>
          <tr>
         　  <td><%= f.label :image,"プロフィール写真" %></td>
　　　　    <td><%= f.file_field :image, accept: "image/*" %></td>
　　　　  </tr>
            <td><%= f.label :name, "名前" %></td>
            <td>
              <%= f.text_field :name %>
            </td>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit "保存する", class: "btn btn-success mx-3 px-5"  %>
              <%= link_to '退会する', quit_users_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"},  class: "btn btn-danger mx-3 px-5" %></td>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>